/* Write your code here: */
a[target="_self"] {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 10px;
}
